.nav-wrap {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  background-color: #fff;
  padding: 15px 20px;
}

nav .logo {
  width: 250px;
  margin-right: 20px;
}

nav .logo img {
  width: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.nav ul li {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
}

.nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.nav ul li a.active,
.nav ul li a:hover {
  color: #495e57;
}

.nav .signUp,
.nav .login {
  background-color: #f4ce14;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  padding: 8px 25px;
  cursor: pointer;
}

.nav .signUp:hover,
.nav .login:hover {
  background-color: #495e57;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}

nav .login-wrap {
  display: flex;
  gap: 15px;
}
.nav .login {
  background-color: transparent;
  border: 1px solid #d7d7d7;
}

.nav .login:hover {
  background-color: #333333;
  color: #fff;
}

.header {
  background-color: #495e57;
  color: #fff;
  padding: 25px 20px;
}

.header-title {
  color: #f4ce14;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: 'Markazi Text', serif;
}

header section {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

header section div {
  flex: 1;
}

.header-title,
.sub-title {
  color: #f4ce14;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: 'Markazi Text', serif;
  line-height: 40px;
}

.sub-title {
  color: #fff;
  font-size: 3rem;
}

.welcome-msg {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

header .header-banner {
  display: flex;
  flex: 1;
  justify-content: end;
  overflow: hidden;
}

header .header-banner img {
  border-radius: 30px;
  position: absolute;
  top: 20px;
  width: 300px;
  height: 350px;
}

.order-section,
.about-section {
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
}

.menu-display-wrap {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 15px;
  justify-content: space-between;
}

.menu-display-wrap .menu-list {
  position: relative;
  width: calc(50% - 10px);
  height: 320px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.menu-display-wrap .menu-list::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 23%);
  z-index: 1;
}

.menu-display-wrap .menu-list img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu-list .menu-list-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0 0 2px #000;
  z-index: 1;
}

/* Special menu */
.specialMenu-wrap {
  display: flex;
  width: 100%;
  padding: 30px 0;
}

.specialMenu-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: auto;
  width: 100%;
  padding: 20px;
}

footer.footer {
  position: relative;
  padding: 40px 0 0;
  background: #f3f3f3;
}

.footer .footer-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.footer section {
  display: flex;
  flex-direction: column;
}

.footer img {
  width: 100%;
  max-width: 160px;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
}

.footer ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.footer ul li a:hover {
  color: #495e57;
}

.site-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  background: #000;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  /* nav.nav {
    flex-direction: column;
  } */
  nav.nav ul {
    display: none;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .menu-display-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-display-wrap .menu-list {
    width: calc(48% - 5px);
    height: 220px;
    margin-bottom: 10px;
  }

  .menu-list .menu-list-title {
    font-size: 24px;
  }

  header .header-banner {
    flex: 1;
  }

  .header-title,
  .sub-title {
    font-size: 2.6rem;
  }
  .welcome-msg {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  header .header-banner img {
    top: 20%;
    width: 200px;
    height: 200px;
  }
  .footer .footer-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
